{% load static %}

<!DOCTYPE html>

<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wordCounter.css' %}">
    <title>WordCounter</title>
</head>

<body>
    <div id="wordcountApp">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static 'js/wordCounter.js' %}"></script>
</body>
</html>